<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Account Verification</title>
  </head>

  <body style="font-family: Arial, sans-serif; text-align: center">

    <div>
      <h2 style="font-weight: bold">Greetings! {{data.username}}</h2>
    </div>

    <div>
      <p style="margin: 0; padding: 0;">
        Thank you for registering with Blackfort Dev Team Ticketing System! We're excited to have you on board. To get started, please verify your email address by clicking the button below.
      </p>
    </div>
    <p style="margin: 0; padding: 0;">
      Your email verification helps us ensure that we can send you important updates and notifications about your
      account.
    </p>

    <div style="padding: 1rem;">
      <small style="padding: 1rem; font-weight: bold; text-transform: uppercase;">
        If you did not sign up for an account, please ignore this message.</small>
    </div>

    <div style="margin: 1rem;">
      <button
        style="background-color: #fc3838; border: none; padding: 0.75rem; border-radius: 0.5rem; font-weight: bold"
      >
        <a style="color: #fff; text-decoration: none; text-transform: uppercase" 
           href="{{data.url}}"
        >
          Verify your email
        </a>
      </button>
    </div>

    <footer>
      <p>If you have any concerns, please feel free to reach us at:</p>

      <p style="margin: 0; padding: 0;"><small>#1 Salcedo Village. 123 Makati, City, Philippines, 20189</small></p>
      <p style="margin: 0; padding: 0;"><small>+63 123 4567 8901</small></p>
      <p style="margin: 0; padding: 0;"><small>inquiries@ticketingsys.com</small></p>
      <p style="margin: 0; padding: 0;"><small>inquiries@facebook.com</small></p>
      <p style="margin: 0; padding: 0;"><small>inquiries@messenger.com</small></p>

    </footer>

    <div style="padding: 1rem">
      <small>*** This is a system generated message.
        <span style="font-weight: bolder">DO NOT REPLY TO THIS EMAIL</span>
        ***</small>
    </div>

    <div>
      <p>
        &copy; 2024 BF Team Ticketing System. All rights reserved.
      </p>
    </div>

  </body>
</html>